*{
    margin: 0;
    padding: 0;
}


body{
    background-color:#B0C6CE ;
    text-align: center;

}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
height: 60vh;
width: 60vh;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 12.5px;


}
.box{
    height: 18vh;
    width: 18vh;
    border-radius: 12px;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
    font-size: 100px;
    color: rgb(12, 61, 45);
    background-color: aliceblue;
}
.reset-btn{
    padding: 19px;
    background-color: rgba(37, 182, 117, 0.227);
    font-size: 25px;
    border-radius: 50px;

}
#new-btn{
    padding: 19px;
    background-color: rgba(37, 182, 117, 0.227);
    font-size: 25px;
 border-radius: 50px;

 

}
#msg{
    color: rgb(47, 59, 70);
    font-size: 8vmin;
}
.msg-container{
    height: 10vmin;
}
.hide{
    display: none;
}
.score{
    margin-top: 30%;
   
  

}